@model List<ContactUs>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-12">
<h1 class="text lnr-text-align-center" style="align-content: center">Burası Destination</h1>

    <table class="table table-bordered">
         <thead class="thead-dark" style="background-color: cadetblue; color: white">
        <tr>
            <td>#</td>
            <td>İsim</td>
            <td>Konu</td>
            <td>Mesaj</td>
            <td>Mail</td>
            <td>Tarih</td>
            <td>Sil</td>
            <td>Güncelle</td>
            
        </tr>
        </thead>
        @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.MessageBody</td>
            <td>@item.Mail</td>
            <td>@item.MessageDate.ToShortDateString()</td>
            
            <td><a href="/Admin/Destination/DeleteDestination/@item.ContactID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Destination/UpdateDestination/@item.ContactID" class="btn btn-outline-success">Güncelle</a></td>
            

        </tr>
    }
        
    </table>
    <a href="/Admin/Destination/AddDestination"><button type="submit" class="btn btn-primary btn-block mb-4">Yeni Tur Rotası</button></a>
     
            </div></div></div>

                