@model List<Traversal.Areas.Admin.Models.VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h1>Index</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-12">
<h1 class="text lnr-text-align-center" style="align-content: center">Burası Destination</h1>

    <table class="table table-bordered">
         <thead class="thead-dark" style="background-color: cadetblue; color: white">
        <tr>
            <td>#</td>
            <td>Ad</td>
            <td>Soyad</td>
            <td>Şehir</td>
            <td>Ülke</td>
            <td>Mail</td>
            <td>Sil</td>
            <td>Güncelle</td>
            
          
            
        </tr>
        </thead>
        @foreach (var item in Model)
    {
        <tr>
            <td>@item.VisitorID</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.City</td>
            <td>@item.Country</td>
            <td>@item.Mail</td>
            
            <td><a href="/Admin/VisitorApi/DeleteVisitor/@item.VisitorID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/VisitorApi/UpdateVisitor/@item.VisitorID" class="btn btn-outline-success">Güncelle</a></td>
            

        </tr>
    }
        
    </table>
    <a href="/Admin/VisitorApi/AddVisitor"><button type="submit" class="btn btn-primary btn-block mb-4">Yeni Ziyaretçi</button></a>
     
            </div></div></div>